.center {
  text-align: center;
}

.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #A9BDBD;
  background-color: #ffffff;
  padding: 10px;
  text-align: center
}

.red {
  color: red;
}

.toastSuccess {
  color: #95A5A6;
  background-color: white;
  font-size: 2em;
}